.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 20px; }
  .header .Main_title p {
    font-size: 55px;
    color: #807f7f;
    font-weight: 900;
    text-align: right; }
  .header .transfer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; }
    .header .transfer .btn_tran,
    .header .transfer .a_tran {
      cursor: pointer;
      font-size: 35px;
      color: #c9c9c9;
      margin: 0 7px; }
    .header .transfer .btn_tran {
      background-color: transparent;
      outline: none;
      border: none;
      height: -webkit-fit-content;
      height: -moz-fit-content;
      height: fit-content; }

.sp_header {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 0; }
  .sp_header .Main_title p {
    color: #fff; }

@font-face {
  font-family: 'rb';
  src: url("./../font/RB Regular.ttf"); }

.rb {
  font-family: 'rb' !important; }

.cd {
  font-family: 'Aref Ruqaa', serif !important; }

@media (max-width: 992px) {
  .f-990 {
    font-size: 12px; } }

.fb-990 {
  font-size: 1.25rem; }
  @media (max-width: 992px) {
    .fb-990 {
      font-size: 1rem; } }

#slider_pro .swiper-container {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content; }

#slider_pro .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  @media (max-width: 485px) {
    #slider_pro .swiper-slide .crazy-w {
      width: auto; } }
  @media (max-width: 385px) {
    #slider_pro .swiper-slide .crazy-w {
      width: 100%; } }

#slider_pro .swiper-pagination {
  bottom: 15px !important;
  z-index: 20000 !important; }
  #slider_pro .swiper-pagination .swiper-pagination-bullet {
    width: 10px !important;
    height: 10px !important; }
  #slider_pro .swiper-pagination .swiper-pagination-bullet-active {
    background-color: #9e724c !important; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0; }

html {
  scroll-behavior: smooth; }

body {
  font-family: 'Amiri', serif;
  overflow-x: hidden !important;
  background-color: #49282a !important;
  color: #c4c2c2 !important; }

@font-face {
  font-family: 'woodmart-font';
  src: url("./../font/woodmart-font.woff"); }

.rlt {
  direction: rtl !important; }

.llt {
  direction: ltr !important; }

.float-right {
  float: right !important; }

.color-main {
  color: #ece9e9 !important; }

.ff-n {
  font-family: 'Rakkas', cursive, sans-serif; }

.bordert-20 {
  border-radius: 15px 15px 0 0 !important; }

.borderb-20 {
  border-radius: 0 0 15px 15px !important; }

.color-red {
  color: #49282a !important; }

.color-gray {
  color: #767676 !important; }

.color-main-two {
  color: #f0d8cb !important; }

.color-brown {
  color: #9e724c !important; }

.bg-brown {
  background-color: #9e724c !important; }

.color-btn-2 {
  color: #977879 !important; }

.btn-red-hover:hover {
  color: #767676 !important; }

.Nav-link-active {
  color: #767676 !important; }

@media (max-width: 767px) {
  .hide-up {
    display: none !important; } }

@media (min-width: 767px) {
  .hide-down {
    display: none !important; } }

.shopping-cart {
  width: 40%; }
  @media (max-width: 450px) {
    .shopping-cart {
      width: 60%; } }

@media (max-width: 450px) {
  .logo-sm {
    width: 90% !important; } }

.nav-but a {
  font-size: .91rem; }
  @media (max-width: 325px) {
    .nav-but a {
      font-size: .85rem; } }

ul, ol {
  padding: 0; }

a {
  text-decoration: none !important; }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 20px; }
  .header .Main_title p {
    font-size: 55px;
    color: #807f7f;
    font-weight: 900;
    text-align: right; }
  .header .transfer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; }
    .header .transfer .btn_tran,
    .header .transfer .a_tran {
      cursor: pointer;
      font-size: 35px;
      color: #c9c9c9;
      margin: 0 7px; }
    .header .transfer .btn_tran {
      background-color: transparent;
      outline: none;
      border: none;
      height: -webkit-fit-content;
      height: -moz-fit-content;
      height: fit-content; }

.sp_header {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 0; }
  .sp_header .Main_title p {
    color: #fff; }

.border-b {
  border-bottom: 1px solid #e7e7e7; }

.bg-blue {
  background-color: #1b1930 !important; }

@media (max-width: 992px) {
  #your_bill {
    -webkit-box-ordinal-group: 201 !important;
        -ms-flex-order: 200 !important;
            order: 200 !important; } }

.pay_icon {
  width: 25px;
  height: 25px; }

.cr-border {
  border: 1px solid #574e5b;
  border-radius: 20px;
  padding: 3px; }

.tap {
  border-right: 2px solid #8a8a8a;
  padding-right: 10px; }

.cr_1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  border: 2px solid #515151;
  width: 30px;
  height: 30px; }

.cr_2 {
  margin: auto;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #515151; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0; }

html {
  scroll-behavior: smooth; }

body {
  font-family: 'Amiri', serif;
  overflow-x: hidden !important;
  background-color: #49282a !important;
  color: #c4c2c2 !important; }

@font-face {
  font-family: 'woodmart-font';
  src: url("./../font/woodmart-font.woff"); }

.rlt {
  direction: rtl !important; }

.llt {
  direction: ltr !important; }

.float-right {
  float: right !important; }

.color-main {
  color: #ece9e9 !important; }

.ff-n {
  font-family: 'Rakkas', cursive, sans-serif; }

.bordert-20 {
  border-radius: 15px 15px 0 0 !important; }

.borderb-20 {
  border-radius: 0 0 15px 15px !important; }

.color-red {
  color: #49282a !important; }

.color-gray {
  color: #767676 !important; }

.color-main-two {
  color: #f0d8cb !important; }

.color-brown {
  color: #9e724c !important; }

.bg-brown {
  background-color: #9e724c !important; }

.color-btn-2 {
  color: #977879 !important; }

.btn-red-hover:hover {
  color: #767676 !important; }

.Nav-link-active {
  color: #767676 !important; }

@media (max-width: 767px) {
  .hide-up {
    display: none !important; } }

@media (min-width: 767px) {
  .hide-down {
    display: none !important; } }

.shopping-cart {
  width: 40%; }
  @media (max-width: 450px) {
    .shopping-cart {
      width: 60%; } }

@media (max-width: 450px) {
  .logo-sm {
    width: 90% !important; } }

.nav-but a {
  font-size: .91rem; }
  @media (max-width: 325px) {
    .nav-but a {
      font-size: .85rem; } }

ul, ol {
  padding: 0; }

a {
  text-decoration: none !important; }

.free-price {
  top: 15px;
  right: 20px;
  font-size: 18px; }
  @media (max-width: 1200px) {
    .free-price {
      font-size: 14px; } }
  @media (max-width: 992px) {
    .free-price {
      font-size: 12px; } }

.pro-b-f {
  font-size: 16px; }
  @media (max-width: 900px) {
    .pro-b-f {
      font-size: 14px; } }
  @media (max-width: 805px) {
    .pro-b-f {
      font-size: 12px; } }

.img-w-sub {
  width: 75%; }
  @media (max-width: 992px) {
    .img-w-sub {
      width: 100%; } }

.exexex {
  max-width: 1140px !important; }

.main-img {
  border-radius: 20px !important;
  height: 500px; }
  @media (max-width: 992px) {
    .main-img {
      height: auto; } }

.pro-img-img {
  width: 240px !important;
  height: 325px !important; }

#new {
  bottom: 10px;
  left: 15px;
  width: 20% !important; }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 20px; }
  .header .Main_title p {
    font-size: 55px;
    color: #807f7f;
    font-weight: 900;
    text-align: right; }
  .header .transfer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; }
    .header .transfer .btn_tran,
    .header .transfer .a_tran {
      cursor: pointer;
      font-size: 35px;
      color: #c9c9c9;
      margin: 0 7px; }
    .header .transfer .btn_tran {
      background-color: transparent;
      outline: none;
      border: none;
      height: -webkit-fit-content;
      height: -moz-fit-content;
      height: fit-content; }

.sp_header {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 0; }
  .sp_header .Main_title p {
    color: #fff; }

.shopping-cart22 {
  width: 15%; }
  @media (max-width: 992px) {
    .shopping-cart22 {
      width: 25%; } }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0; }

html {
  scroll-behavior: smooth; }

body {
  font-family: 'Amiri', serif;
  overflow-x: hidden !important;
  background-color: #49282a !important;
  color: #c4c2c2 !important; }

@font-face {
  font-family: 'woodmart-font';
  src: url("./../font/woodmart-font.woff"); }

.rlt {
  direction: rtl !important; }

.llt {
  direction: ltr !important; }

.float-right {
  float: right !important; }

.color-main {
  color: #ece9e9 !important; }

.ff-n {
  font-family: 'Rakkas', cursive, sans-serif; }

.bordert-20 {
  border-radius: 15px 15px 0 0 !important; }

.borderb-20 {
  border-radius: 0 0 15px 15px !important; }

.color-red {
  color: #49282a !important; }

.color-gray {
  color: #767676 !important; }

.color-main-two {
  color: #f0d8cb !important; }

.color-brown {
  color: #9e724c !important; }

.bg-brown {
  background-color: #9e724c !important; }

.color-btn-2 {
  color: #977879 !important; }

.btn-red-hover:hover {
  color: #767676 !important; }

.Nav-link-active {
  color: #767676 !important; }

@media (max-width: 767px) {
  .hide-up {
    display: none !important; } }

@media (min-width: 767px) {
  .hide-down {
    display: none !important; } }

.shopping-cart {
  width: 40%; }
  @media (max-width: 450px) {
    .shopping-cart {
      width: 60%; } }

@media (max-width: 450px) {
  .logo-sm {
    width: 90% !important; } }

.nav-but a {
  font-size: .91rem; }
  @media (max-width: 325px) {
    .nav-but a {
      font-size: .85rem; } }

ul, ol {
  padding: 0; }

a {
  text-decoration: none !important; }
